/*Menyn*/
.headmenu {list-style-type: none; margin: 0; padding: 1em;} 
.headmenu > li {display: inline-block; position: relative; gap: 3em;}
.headmenu > li > ul {display: none; position: absolute; top: 100%; list-style-type: none; margin: 0; padding: 0;} 
.headmenu > li:hover > ul {display: block;} 
.headmenu a {text-decoration: none;} 
.headmenu > li:hover {background-color: lightgray;} 
.headmenu > li > ul > li:hover {background-color:white;} 
/*Färg för länkarna vid olika tillfällen*/ 
a:link{color: white;}  
a:visited{color: white;} 
a:hover{color: white;} 
a:active{color: white;} 
header, footer{
    background-color: black;
    color: white;
}
@media (min-width: 1025px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .header {
        grid-area: header;
        padding: 1em;
        width: 100vw;
        font-size: x-large;
        z-index: 1000;
    }
    li {
        margin-right: 1em;
        margin-left: 1em;
    }
    .main1 {
        grid-area: main;
        margin: auto;
    }
    .question {
        max-width: 600px;
        text-align: left;
        font-size: x-large;
        margin-top: 2em;
    }
    .answer {
        max-width: 600px;
        text-align: left;
        font-size: large;
        margin-top: 1em;
    }
    .main2 {
        position: relative;
        height: 100vh; 
        overflow: hidden;
      }
      #myVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
      .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        padding: 2em;
        z-index: 1;
        text-align: center;
      }
      .contenttext {
        max-width: 500px;
        width: 100%;
        margin: auto;
        font-size: large;
        text-align: left;
      }
    .footer {
        grid-area: footer;
        position: relative;
        padding: 2em;
        font-size: large;
    }
    #footer1 {
        margin-top: 3em;
    }
}
@media (max-width:1024px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .header {
        grid-area: header;
        padding: 1em;
        width: 100vw;
        font-size: x-large;
    }
    li {
        margin-right: 1em;
        margin-left: 1em;
    }
    .main1 {
        grid-area: main;
        margin: auto;
    }
    .question {
        max-width: 600px;
        text-align: left;
        font-size: x-large;
        margin-top: 2em;
    }
    .answer {
        max-width: 600px;
        text-align: left;
        font-size: large;
        margin-top: 1em;
    }
    .main2 {
        position: relative;
        height: 100vh; 
        overflow: hidden;
      }
      #myVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
      .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        padding: 2em;
        z-index: 1;
        text-align: center;
      }
      .contenttext {
        max-width: 500px;
        width: 100%;
        margin: auto;
        font-size: large;
        text-align: left;
      }
    .footer {
        grid-area: footer;
        position: relative;
        padding: 2em;
        font-size: large;
    }
    #footer1 {
        margin-top: 3em;
    }
}
@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .header {
        grid-area: header;
        padding: 1em;
        width: 100vw;
        font-size: x-large;
    }
    li {
        margin-right: 1em;
        margin-left: 1em;
    }
    .main1 {
        grid-area: main;
        margin: auto;
    }
    .youtubevideo {
        max-width: 500px;
        width: 100%;
    }
    .question {
        max-width: 400px;
        text-align: left;
        font-size: large;
        margin-top: 2em;
    }
    .answer {
        max-width: 400px;
        text-align: left;
        font-size: medium;
        margin-top: 1em;
    }
    .main2 {
        position: relative;
        height: 100vh; 
        overflow: hidden;
      }
      #myVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
      .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        padding: 1em;
        z-index: 1;
        text-align: center;
      }
      .contenttext {
        max-width: 400px;
        width: 100%;
        margin: auto;
        font-size: large;
        text-align: left;
      }
    .footer {
        grid-area: footer;
        position: relative;
        padding: 2em;
        font-size: medium;
    }
    #footer1 {
        margin-top: 3em;
    }
}